html, body {
	height:100%;
}
body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:focus {
	color: #00B7FF;
}

body, h1, h2, h3, h4, h5, h6 {
	font-size:14px;
	padding:0px;
	margin:0px;
}

.side-bar {
	width:200px;
	height:100%;
	background: #ccc;
	float:left;
}
.profile-area {
    height: 200px;
    background: #9f9f9f;
		position: relative;
}
.profile {
	position: absolute;
	top:80px;
}
.profile .image {
	background: #666;
	height:80px;
	width:80px;
	margin-bottom:10px;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.profile .name {
	font-size:18px;
	font-weight: 900;
}

.main {
	background:#efefef;
	float: right;
	width: calc(100% - 200px);
	height:100%;
}

header {
	height:42px;
	background: #666;
	color: #fff;
	position: relative;
}
header a { color:#fff; }
.menu-button {
	position: absolute;
	top:3px;
	left: 3px;
}
.menu-button a {
	padding:10px;
	display: block;
}
.site-name {
	font-size:20px;
	font-weight: 900;
	position: absolute;
	top:10px;
	left:38px;
}
.search-area {
	position: absolute;
	top: 9px;
	right: 9px;
}
.tabs {
  background: #ccc;
	padding: 3px 3px 0px 3px;
}
.tabs .tab {
  float: left;
	background: #cfcfcf;
}
.tabs .tab a {
	padding:5px 10px;
	display: block;
}
.tabs .tab.default {
	background: #efefef;
}
.items { font-size:13px; white-space: nowrap; background: #efefef; height:100px; border-bottom:1px solid #ccc; overflow: auto; }
.items .inner { height:100%; }
.items ul { float:left; padding-left: 0px; border-right:1px solid #ccc; height:100%; margin-bottom:0px; min-width: 80px; overflow-x:auto; }
.items .item { list-style: none; white-space: nowrap; }
.items .item a { padding: 3px 3px 3px 8px; display: block; padding-right:5px; }
.items .item.folder a::after { content:"▶"; font-size:6px; padding-top:5px; padding-left:10px; float:right; display: block; }
.items .item a span::before { padding-right: 5px; }
.items .ui-resizable-handle.ui-resizable-s { background: #ccc; }

.detail { padding: 10px; display: none; }
.detail h2 { border:1px dotted #ccc; padding:2px; font-size:20px; font-weight: 900; margin-bottom:10px; }
.detail .text { border:1px dotted #ccc; padding:2px; margin-bottom:5px; min-height: 10em; }
.detail [contenteditable=true] { border:1px dotted #ccc; }
.detail .content {  }

footer {
	position: absolute;
	bottom:0px;
	right:0px;
	background: #666;
	width: calc(100% - 200px);
	padding: 5px;
}
