.browse {
	min-height: 100px;
	padding-bottom: 7px;
	.ui-resizable-handle.ui-resizable-s {
		background: #ccc;
		bottom: 0;
	}
}
.items {
	font-size: 13px;
	white-space: nowrap;
	background: #efefef;
	height: 100%;
	border-bottom: 1px solid #ccc;
	overflow: auto;
	.inner {
		height: 100%;
		min-height: 100%;
		min-width: 100%;
	}
	ul {
		float: left;
		padding-left: 0px;
		border-right: 1px solid #ccc;
		height: 100%;
		margin-bottom: 0px;
		min-width: 80px;
		overflow-x: auto;
	}
	.item {
		list-style: none;
		white-space: nowrap;
		&.over a {
			background: red !important;
		}
		a * {
			pointer-events: none;
		}
		.name {
			font-family: "Lucida Grande", "meiryo", Helvetica, Arial, sans-serif;
		}
		a {
			padding: 3px 3px 3px 8px;
			display: block;
			padding-right: 5px;
		}
		&.folder a::after {
			content: "▶";
			font-size: 6px;
			padding-top: 5px;
			padding-left: 10px;
			float: right;
			display: block;
		}
		a span::before {
			padding-right: 5px;
		}
	}
}
